//В данном файле описываем стили, наподобие как в будстрапе, чтобы могли переиспользовывать

// вешаем на обёртку страницы
.main-content-app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}